<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>streamdrill demo</display-name>

  <servlet>
    <servlet-name>TransparentProxy</servlet-name>
    <servlet-class>org.eclipse.jetty.proxy.ProxyServlet$Transparent</servlet-class>
    <init-param>
      <param-name>proxyTo</param-name><param-value>http://localhost:9669/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>

  <servlet-mapping>
    <servlet-name>TransparentProxy</servlet-name>
    <url-pattern>/1/*</url-pattern>
  </servlet-mapping>
</web-app>